In [1]:
a = 1

In [2]:
a

1

In [4]:
import numpy as np

with open(r'archieve\10_17_25_52_31\data_transformation\transformed\train.npy','rb') as file:
    a = np.load(file)

In [11]:
b = (np.isnan(a) != False)

In [14]:
import pandas as pd

df = pd.read_csv(r'C:\Users\rgarlay\Desktop\DS\Learning Python\Retail_Project\archieve\10_17_25_52_31\data_validation\valid\train.csv')

In [15]:
df.head()

,index,is_male,age,category,quantiy,price_per_unit,cogs,total_sale
0,1798,Female,38.0,Electronics,3.0,30.0,10.20,90.0
1,86,Female,42.0,Clothing,1.0,30.0,15.90,30.0
2,205,Female,43.0,Electronics,2.0,25.0,8.25,50.0
3,1654,Male,30.0,Beauty,4.0,50.0,49.00,200.0
4,1221,Male,47.0,Beauty,2.0,500.0,240.00,1000.0