In [6]:
import numpy as np
import pandas as pd

In [7]:

df = pd.read_csv(r'archieve\Retail Sales Analysis.csv')
cols_to_drop = ['transactions_id','customer_id', 'sale_date','sale_time']

df.drop(columns = cols_to_drop, inplace=True)

In [8]:
df = df.dropna()

In [9]:
df['gender'] = df['gender'].apply(lambda x: 1 if x=='Male' else 0)

In [10]:
df.head()

   gender   age  category  quantiy  price_per_unit   cogs  total_sale
0       1  41.0  Clothing      3.0           300.0  129.0       900.0
1       1  46.0    Beauty      3.0           500.0  145.0      1500.0
2       0  40.0  Clothing      4.0           300.0   84.0      1200.0
3       1  41.0  Clothing      3.0           300.0  129.0       900.0
4       1  46.0    Beauty      3.0           500.0  235.0      1500.0

In [11]:
df = pd.get_dummies(data=df, columns = ['category'], dtype=int,drop_first=True)

In [12]:
target = df['total_sale']
feature = df.drop(columns = ['total_sale'])

In [31]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(feature,target,train_size = 0.75, random_state = 42)

In [32]:
y_train.sample()

966    900.0
Name: total_sale, dtype: float64

In [33]:
from sklearn.ensemble import AdaBoostRegressor

In [42]:
params = {'n_estimators':100,
          'learning_rate':0.1,
        }

In [43]:
adaboost = AdaBoostRegressor(**params)

adaboost.fit(x_train,y_train)

y_pred = adaboost.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score,root_mean_squared_error

r2score = r2_score(y_test,y_pred)
rmse = root_mean_squared_error(y_test,y_pred)

In [45]:
report_dict = {'r2_score':r2score,
               'rmse':rmse}

In [46]:
import mlflow
mlflow.set_experiment('First regression')
mlflow.set_tracking_uri(uri = 'http://127.0.0.1:5000')

In [ ]:
with mlflow.start_run():
    mlflow.log_params(params)
    mlflow.log_metrics({
        'r2_score':report_dict['r2_score'],
        'rmse':report_dict['rmse']
    })
    mlflow.sklearn.log_model(sk_model=adaboost,name = 'AdaBoostRegressor',input_example=feature)

c:\Users\rgarlay\Desktop\DS\Learning Python\Retail_Project\venv\Lib\site-packages\mlflow\types\utils.py:452: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details.
  warnings.warn(

üèÉ View run dashing-goat-120 at: http://127.0.0.1:5000/#/experiments/514112760406491729/runs/51b1f42e8e7a49ab9d4d3f7bbddc6cd4
üß™ View experiment at: http://127.0.0.1:5000/#/experiments/514112760406491729

In [53]:
params_second = {'n_estimators':200,
          'learning_rate':0.01,
        }

In [ ]:
adaboost = AdaBoostRegressor(**params_second)
adaboost.fit(x_train,y_train)
y_pred = adaboost.predict(x_test)

from sklearn.metrics import r2_score,root_mean_squared_error
r2score = r2_score(y_test,y_pred)
rmse = root_mean_squared_error(y_test,y_pred)

In [55]:
mlflow.set_experiment('First regression')
mlflow.set_tracking_uri(uri = 'http://127.0.0.1:5000')

with mlflow.start_run():
    mlflow.log_params(params_second)
    mlflow.log_metrics({
        'r2_score':report_dict['r2_score'],
        'rmse':report_dict['rmse']
    })
    mlflow.sklearn.log_model(sk_model=adaboost,name = 'AdaBoostRegressor',input_example=feature)

c:\Users\rgarlay\Desktop\DS\Learning Python\Retail_Project\venv\Lib\site-packages\mlflow\types\utils.py:452: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details.
  warnings.warn(

üèÉ View run learned-croc-358 at: http://127.0.0.1:5000/#/experiments/514112760406491729/runs/32b73772bb7b46b7a9b2898c0b3ca776
üß™ View experiment at: http://127.0.0.1:5000/#/experiments/514112760406491729